<br><br>
<div class="ae-container-fluid ae-container-fluid--inner rk-main" style="font-size: 14px; text-align: justify;">
    <div style="font-weight: bold;">
        1. ¿Como y dónde envío mi resumen?
    </div>
    En el apartado del menu de ENVÍO DE RESUMEN (fecha limite 30 de septiembre), previamente deberá de registrarse para posteriormente ingresar al 
    portal en donde deberá de ingresar su documento.
    <br><br>
    <div style="font-weight: bold;">
        2. ¿Como y dónde envío mi extenso de la ponencia ?
    </div>
    En el apartado del menu de ENVÍO DE PONENCIA (del 15 de octubre al 05 de noviembre), previamente deberá de registrarse para posteriormente ingresar al 
    portal en donde deberá de ingresar su documento.
    <br><br>
    <div style="font-weight: bold;">
        3. Si no he recibido el dictamen de mi resumen o ponencia y ya se vencieron las fechas límites, ¿Qué debo de hacer?
    </div>
    Con gusto puede mandar un correo a ciia2023@ujed.mx en donde se le dará respuesta a sus dudas.
    <br><br>
    <div style="font-weight: bold;">
        4. ¿Dónde me inscribo?
    </div>
    Para estar inscrito dentro del congreso CIIA 2023, dar click en el apartado del menu 
    REGISTRO en donde se mostrarán los diferentes tipos de participantes y pedira otro tipo información como nombre,
    apellidos, emial, celular, etc.
    <br><br>
    <div style="font-weight: bold;">
        5. ¿Dónde puedo hospedarme?
    </div>
    Existen varios hoteles con descuentos para aquellas personas que estarán dentro del congreso CIIA 2023, la información 
    se encuentra dentro del menú de HOSPEDAJE Y UBICACIONES.
    <br><br>
    <div style="font-weight: bold;">
        6. ¿Qué puedo conocer de la ciudad de Durango y fuera de la ciudad?
    </div>
    Existen varios puntos para poder visitar, en la página de oficial del turismo de Durango 
    puede verificar varios lugares de interés. <a href="http://visitdurango.mx/" target="_blank" style="color: blue;">CLICK AQUÍ</a>
    <br><br>
    <div style="font-weight: bold;">
        7. ¿Que aerolineas vuelan a Durango?
    </div>
    Aeroméxico
    <br><br>
    <div style="font-weight: bold;">
        8. ¿Qué pasa cuando registro mis datos del resumen y la ponencia y ademas subo mis archivos?
    </div>
    Se le mandara un correo de notificación de manera automática que sus datos y archivos se han guardado con éxito en nuestro servidor.
    <br><br>
    <div style="font-weight: bold;">
        9. Si tengo algún problema o duda de como registrar mis datos y subir mis archivos, ¿qué puedo hacer?
    </div>
    Con gusto se le atenderá cualquier duda o problema con respecto al congreso al correo ciia2023@ujed.mx.
</div>
