<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <br>
    <div id="div_descarga" style="font-weight: bold;font-size: 16px;padding: 2px 0 0 0.5em; font-family: 'rockwell';color: #001A47; text-align: center;">
        <a href="../../../assets/Convocatoria.pdf" target="_blank">Descargar convocatoria</a>
    </div>
    <br>
    <br>
    <div id="div_convocatoria" style="padding: 2px 0 0 0.5em; font-family: 'arial';">
    <div style="font-weight: bold;font-size: 16px; text-align: justify;">LA COORDINACIÓN DE INVESTIGACIÓN DE LA FACULTAD DE
        ECONOMÍA, CONTADURÍA Y ADMINISTRACIÓN DE LA UJED Y
        LOS CUERPOS ACADÉMICOS; GESTIÓN Y DESARROLLO DE
        LAS INSTITUCIONES, PROCESOS DE CAMBIO Y DESARROLLO
        EN LAS ORGANIZACIONES y ESTUDIOS EMPRESARIALES DESDE
        LA PERSPECTIVA ECONÓMICO ADMINISTRATIVA.</div>
    <br><br>
    <div style="font-weight: bold; font-size: 16px; text-align: center;">C O N V O C A N</div>
    <br><br>
    <div style="font-weight: bold; font-size: 16px; text-align: center; color: #a86e24;">II CONGRESO INTERNACIONAL DE INVESTIGACIÓN
        APLICADA PARA ACADÉMICOS EN CIENCIAS
        ECONÓMICO ADMINISTRATIVAS.</div>
    <br><br>
    <div style="font-size: 16px; text-align: justify;">Con el objetivo de incentivar y difundir la investigación que los académicos realizan en las
        Ciencias Económico Administrativas en las Universidades Públicas y Privadas de la entidad, para
        generar un espacio de discusión, transferencia de experiencias y recursos de investigación. El
        congreso se desarrollará del 15 al 17 de Noviembre de 2023 en el edificio de Bellas Artes de la
        UJED.
    </div>
    <br><br>
    <div style="font-size: 16px; text-align: left; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I. OBJETIVOS</div>
    <div style="font-size: 16px; text-align: justify;">
        1. Presentar los resultados de investigaciones inéditas que contribuyan a incrementar el
        conocimiento de las Ciencias Económico Administrativa y Contable de las organizaciones.<br>
        2. Generar una comunidad de aprendizaje y de investigación, de transferencia de conocimientos
        y experiencia ente los participantes, que permita construir una red de investigadores en las
        áreas económicas administrativas y contables.<br>
        3. Publicar un libro en alianza estratégica con una editorial de reconocido prestigio, con los
        mejores trabajos presentados, evaluados en doble ciego y de acuerdo con las políticas
        editoriales correspondientes.
    </div>
    <br><br>
    <div style="font-size: 16px; text-align: left; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;II. BASES PARALA PRESENTACIÓN DE LAS PONENCIAS
    </div> 
    <div style="font-size: 16px; text-align: justify;">
        1. Podrán participar como ponentes todos los académicos que estén adscritos a una Institución
        de Educación Superior Pública o Privada, que ofrezca licenciaturas y/o maestrías en el área
        Económico, Administrativas y Contable.<br>
        2. Los trabajos de investigación que se presenten deberán consistir en aportaciones al
        conocimiento teórico o práctico de las Ciencias Económico, Administrativa y Contable, y se
        presentaran según la modalidad, de forma individual o en coautoría teniendo como máximo
        tres autores.<br>
        3. Todos los trabajos enviados serán revisados en doble ciego por un comité arbitral, cuya
        decisión será inapelable.<br>
        4. Todos los trabajos aceptados se publicarán en un libro electrónico con ISBN (sin costo para
        el participante).<br>
        5. Los mejores trabajos presentados y que cumplan con los criterios de calidad de acuerdo con
        el comité editorial, se publicarán en un libro con doble aval; uno con ISBN de editorial del
        Centro de Estudios e Investigaciones para el Desarrollo Docente CENID A.C., el Segundo
        ISBN emitido por España y gestionado por AEVA de la Universidad Autónoma de Barcelona,
        se agrega a la portada logos CONACYT, CENID, MENNON, UNIVERSIDAD COMPLUTENSE
        además se publicará en el portal del CENID así como en la nube Dialnet de la Universidad de
        la Rioja, España. El costo de esta publicación de acuerdo a convenio con la UJED es de
        $10,000 por capítulo, que podrá ser prorrateado entre los autores. 
    </div>       
    <br><br>
    <div style="font-size: 16px; text-align: left; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Formato de la ponencia</u></div> 
    <div style="font-size: 16px; text-align: justify;">
        1. El trabajo debe presentarse de acuerdo a la siguiente estructura:<br>
        <strong>a.</strong> Portada. Datos de presentación del evento, del trabajo y sus autores.<br>
        <strong>b.</strong> Introducción. Problematización, objetivo, preguntas de investigación y justificación.<br>
        <strong>c.</strong> Marco referencial. Conceptos que sustentan la investigación.<br>
        <strong>d.</strong> Metodología. Diseño, instrumento, fases, etc.<br>
        <strong>e.</strong> Resultados. Resultados obtenidos o esperados.<br>
        <strong>f.</strong> Conclusiones y discusión. Reflexiones respecto al trabajo realizado y su aportación.<br>
        <strong>g.</strong> Bibliografía.<br><br>
        2. El trabajo se debe enviar en dos archivos separados, los cuales deben contener los siguientes
        requisitos:<br>
        <strong>a.</strong> Resumen: Incluirá la introducción que justifique la importancia del trabajo, el problema, el
        método, los resultados y las conclusiones, en una extensión máxima de 250 palabras.
        Respetando el siguiente formato: márgenes laterales de 3 cm, superior e inferior de 2.5
        cm., utilizando la fuente Times New Roman de 12 puntos, interlineado 1.5, párrafos
        justificados con espacio entre estos.<br>
        <strong>b.</strong> Extenso: Debe contener: la introducción dentro de la cual se exponga la justificación y el
        objetivo de la investigación, la metodología, los resultados, y por último las conclusiones
        y discusión del trabajo. En el caso de proyectos de investigación en proceso, se
        presentarán los avances bajo esta misma estructura de acuerdo al avance del mismo, y
        en su caso, se incluirán resultados esperados. Debe estar en una extensión máxima de 30
        páginas, con citado enAPA7
    </div>
    <br><br>
    <div style="font-size: 16px; text-align: left; font-weight: bold;"><u>Modalidad de presentación</u></div>
    <div style="font-size: 16px; text-align: justify;">
        1. Las ponencias deberán presentarse en la sesión del Congreso de Investigación en la fecha
        y hora asignada.<br>
        2. Deberá entregar el archivo con la presentación en cuanto se acepte la ponencia, en formato
        Power Point.<br>
        Para la presentación: se recomienda una extensión de entre 10 a 15 diapositivas
        como máximo. La primera de ellas debe contener la portada, que debe incluir los
        datos del coloquio y los siguientes datos del trabajo: Título de la ponencia, nombre(s)
        del ponente (s) correo electrónico, Institución de procedencia.<br>
        3. Los ponentes deberán estas el día de la sesión con 15 minutos de antelación, los
        participantes foráneos que participarán de manera virtual deberán ingresar a la sesión virtual
        del Congreso con anticipación de 15 minutos al inicio del evento, para verificar aspectos
        técnicos y evitar incidentes de este tipo durante la realización del evento.<br>
        4. Los participantes se asignan a las mesas de trabajo donde se llevarán a cabo las
        presentaciones de las ponencias.<br>
        5. Los ponentes deberán realizar la presentación de su ponencia en la mesa asignada,
        apoyados de la presentación en formato PDF previamente enviada. Cada ponente dispondrá
        de un máximo de 15 minutos para realizar la presentación oral de su ponencia, y 5 minutos
        para responder a las preguntas de los asistentes a la mesa.<br>
        6. Los ponentes deberán permanecer durante toda la realización del evento.
    </div>
    <br><br>
    <div style="font-size: 16px; text-align: left; font-weight: bold;">III. OPERACIÓN DE LAS MESAS DE TRABAJO</div>
    <div style="font-size: 16px; text-align: justify;">
        1. El Congreso de Investigación se llevará a cabo mediante la organización de mesas de trabajo.<br>
        2. Los nombres de las mesas son:<br>
        <strong>a.</strong> Administración de Operaciones e Ingeniería y Gestión de Sistemas<br>
        <strong>b.</strong> Administración de la Educación<br>
        <strong>c.</strong> Administración Estratégica<br>
        <strong>d.</strong> Gestión del Conocimiento, Innovación y la Tecnología<br>
        <strong>e.</strong> Administración del Desarrollo Regional y Sustentabilidad<br>
        <strong>f.</strong> Administración Pública<br>
        <strong>g.</strong> Finanzas y Economía<br>
        <strong>h.</strong> Liderazgo, Capital Humano y Comportamiento Organizacional<br>
        <strong>i.</strong> Mercadotecnia<br>
        <strong>j.</strong> Pequeñas, Medianas Empresas y Emprendimiento<br>
        <strong>k.</strong> Procesos de Cambio y Desarrollo Organizacional<br>
        <strong>l.</strong> Contabilidad, Auditoría y Fiscal<br>
        <strong>m.</strong> Estudios de Género<br>      
        <br>
        3. Cada mesa se integrará además de los ponentes por un coordinador, un secretario, así como
        los docentes y alumnos asistentes al Congreso de Investigación. Las funciones de los
        integrantes de la mesa serán las siguientes:<br>
        <strong>a.</strong> Coordinador: Iniciar, moderar y terminar el trabajo de la mesa, asignar y marcar el tiempo
        de presentación de las ponencias, asignar el orden de participación, y dar la palabra a
        docentes y alumnos en los espacios de preguntas y respuestas.<br>
        <strong>b.</strong> Secretario: Realizar el registro de las ideas principales de las ponencias de la mesa y dar
        lectura al resumen de la mesa, que se presentará con un máximo de 5 minutos al cierre
        de las mesas de trabajo.<br>
        <strong>c.</strong> Asistentes: Realizar preguntas, observaciones y aportaciones a los ponentes sobre sus
        trabajos, con la finalidad de intercambiar ideas y generar conocimiento.
    </div>  
    <br><br>
    <div style="font-size: 16px; text-align: left; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IV. INSCRIPCIÓN DE LAS PONENCIAS</div>
    <div style="font-size: 16px; text-align: justify;">
        1. El registro de participantes se hará mediante el formulario de registro 
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJoM_uzWSggd4H11SXXG6cemn4PL9Wc4_oczEzPJoPrWvEMA/viewform" style="color: blue;" target="_blank"><u>Formulario de google</u></a>
        y/o en el sitio oficial del congreso 
        <a href="https://ciia2023.ujed.mx/" style="color: blue;"><u>https://ciia2023.ujed.mx/</u></a>.Para poder llenar el registro los
        participantes deberán contar con la siguiente información:<br>
        <strong>i.</strong> Título del trabajo<br>
        <strong>ii.</strong> Nombre(s) del autor(es)<br>
        <strong>iii.</strong> Datos de Contacto: correos electrónicos y teléfono<br>
        2. El envío de los dos archivos iniciales de la ponencia (Resumen en extenso) deberá
        realizarse al correo electrónico de ciia2023@ujed.mx después de haber realizado el
        registro,mismo que deberá atender a la FECHALÍMITE DEL 30 de SEPTIEMBRE 2023.<br>
        3. Una vez concluidos los dos pasos anteriores los participantes quedarán inscritos y recibirán:
        acuse de recibido y la información complementaria pertinente para la participación del
        ponente en el evento
    </div>
    <br><br>
    <div style="font-size: 16px; text-align: left; font-weight: bold;">Fechas Importantes</div>
    <table border="1">
        <tbody>
            <tr>
              <td>Recepción de resumen. El resumen debe de contener objetivos, metodología y hallazgos
                preliminares o declaratoria de tenerlos en la siguiente entrega dentro de 15 días.</td>
              <td>30-sep</td>
            </tr>
            <tr>
                <td>Envió del extenso de la ponencia.</td>
                <td>Del 15-oct al 05-nov</td>
            </tr>
            <tr>
                <td>Envío de observaciones y recomendaciones al trabajo, en caso que existan.</td>
                <td>Del 10 al 12-nov</td>
            </tr>
            <tr>
                <td>Aceptación definitiva de la ponencia.</td>
                <td>13-nov</td>
            </tr>
            <tr>
                <td>Congreso.</td>
                <td>15,16,17 noviembre</td>
            </tr>
          </tbody>
    </table>
    <br><br>
    <div style="font-size: 16px; text-align: justify;">
        Los autores de las ponencias presentadas recibirán reconocimiento como ponente del 
        <span style="color: #a86e24;">II CONGRESO INTERNACIONAL DE ACADÉMICOS EN IVESTIGACIÓN APLICADA</span> 
        y posibilidad de que su trabajo sea
        seleccionado para ser publicado en libro de reconocida editorial.<br>
        El comité organizador del II CONGRESO de Investigación se reserva el derecho de resolver
        cualquier situación no prevista en esta convocatoria.<br>
        Para mayor información sobre el evento los interesados pueden dirigirse al Comité Organizador del
        evento, en los siguientes medios de contacto:
    </div>
    
    </div>
    <br><br><br>
    <div style="font-size: 16px; text-align: center; font-weight: bold;">
        Dr. José Gerardo Ignacio Gómez Romero<br>
        Coordinador de Investigación FECA de la UJED<br>
     <!--    igomez@ujed.mx -->
    </div>
    <br>
    <div style="text-align: center;">
        <span style="font-size: 16px;  font-weight: bold;">
            Dra. Delia Arrieta Díaz<br>
        </span>
        <span style="font-size: 14px;">
            Líder del Cuerpo Académico<br>
            Gestión yDesarrollo de las Instituciones
        </span>
    </div>
    <br>
    <div style="text-align: center;">
        <span style="font-size: 16px;  font-weight: bold;">
            Dra. Hortensia Hernández Vela<br>
        </span>
        <span style="font-size: 14px;">
            Líder del Cuerpo Académico<br>
            Procesos de Cambio y Desarrollo en lasOrganizaciones
        </span>
    </div>
    <br>
    <div style="text-align: center;">
        <span style="font-size: 16px;  font-weight: bold;">
            Dr. Francisco Martín Villarreal Solís<br>
        </span>
        <span style="font-size: 14px;">
            Líder del Cuerpo Académico<br>
            Estudios Empresariales desde la Perspectiva Económico Administrativa
        </span>
    </div>
    <br>
    <div style="text-align: center;">
        <span style="font-size: 16px;  font-weight: bold;">
            Dr. Jesús Guillermo Sotelo Asef<br>
        </span>
        <span style="font-size: 14px;">
            Coordinador Técnico
        </span>
    </div>
    <br><br>
<!--     <div style="font-size: 16px; text-align: center; font-weight: bold;">
        Email del congreso: ciia2023@ujed.mx
    </div> -->
    <br><br><br><br>
    <div style="text-align: center; font-size: 14px;">
        Fanny Anitúa y Priv. Loza C.P. Durango, Dgo.<br>
        Tel: (618)827-13-65
    </div>
</div>
