<br><br><div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div style="font-size: 16px; text-align: center; font-weight: bold;">
    Dr. José Gerardo Ignacio Gómez Romero<br>
    Coordinador de Investigación FECA de la UJED<br>
<!--     igomez@ujed.mx -->
  </div>
  <br>
  <div style="text-align: center;">
    <span style="font-size: 16px;  font-weight: bold;">
        Dra. Delia Arrieta Díaz<br>
    </span>
    <span style="font-size: 14px;">
        Líder del Cuerpo Académico<br>
        Gestión yDesarrollo de las Instituciones
    </span>
  </div>
  <br>
  <div style="text-align: center;">
    <span style="font-size: 16px;  font-weight: bold;">
        Dra. Hortensia Hernández Vela<br>
    </span>
    <span style="font-size: 14px;">
        Líder del Cuerpo Académico<br>
        Procesos de Cambio y Desarrollo en lasOrganizaciones
    </span>
  </div>
  <br>
  <div style="text-align: center;">
    <span style="font-size: 16px;  font-weight: bold;">
        Dr. Francisco Martín Villarreal Solís<br>
    </span>
    <span style="font-size: 14px;">
        Líder del Cuerpo Académico<br>
        Estudios Empresariales desde la Perspectiva Económico Administrativa
    </span>
  </div>
  <br>
  <div style="text-align: center;">
    <span style="font-size: 16px;  font-weight: bold;">
        Dr. Jesús Guillermo Sotelo Asef<br>
    </span>
    <span style="font-size: 14px;">
        Coordinador Técnico
    </span>
  </div>
  <br><br>
  <div style="font-size: 16px; text-align: center; font-weight: bold;">
   <!--  Email del congreso: ciia2023@ujed.mx -->
  </div>
  <br><br><br><br>
  <div style="text-align: center; font-size: 14px;">
    Fanny Anitúa y Priv. Loza C.P. Durango, Dgo.<br>
    Tel: (618)827-13-65
  </div>
</div>